body {
    font-family: Arial, sans-serif;
}
.container {
    width: 70%;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 18px;
    text-align: left;
    border-bottom: 4px solid #26a69a;
    border-radius: 2px;
}

table thead tr {
    background-color: #26a69a;
    color: white;
    text-align: left;
    font-weight: bold;
}

table th,
table td {
    padding: 12px 15px;
    border: 1px solid #ddd;
}

table tbody tr {
    border-bottom: 1px solid #26a69a;
}

table tbody tr.highlight {
    background-color: #f0f0f0;
}

table tbody tr.highlight td {
    font-weight: bold;
    color: #26a69a;
}

table tbody tr:last-of-type {
    border-bottom: 2px solid #26a69a;
}
