{% extends 'core/base.html' %}

{% load static %}

{% block content %}
<!-- Blog Start -->
<div class="container-fluid blog py-5">
    <div class="container py-5">
        <div class="text-center mx-auto pb-5 wow fadeInUp" data-wow-delay="0.2s" style="max-width: 800px;">
            <!-- <h4 class="text-primary">From Blog</h4> -->
            <h1 class="display-4 mb-4">News And Updates</h1>
            <!-- <p class="mb-0">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tenetur adipisci facilis cupiditate recusandae aperiam temporibus corporis itaque quis facere, numquam, ad culpa deserunt sint dolorem autem obcaecati, ipsam mollitia hic.</p> -->
        </div>
        <div class="row g-4 justify-content-center">
            {% for blog in blogs %}
            <div class="col-lg-6 col-xl-4 wow fadeInUp" data-wow-delay="0.2s">
                <div class="blog-item">
                    <div class="blog-img">
                        <img src="{{ blog.image.url }}" class="img-fluid rounded-top w-100" alt="">
                    </div>
                    <div class="blog-content p-4">
                        <div class="blog-comment d-flex justify-content-between mb-3">
                            <div class="small"><span class="fa fa-calendar text-primary"></span>
                                {{ blog.created_at }}</div>
                        </div>
                        <a href="#" class="h4 d-inline-block mb-3">{{ blog.title }}</a>
                        <p class="mb-3">{{ blog.content }}</p>
                        <a href="#" class="btn p-0">Read More
                            <i class="fa fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<!-- Blog End -->
{% endblock %}