{% extends 'core/base.html' %}

{% load static %}

{% block content %}
<!-- Carousel Start -->

<div class="container">
    <div class="row g-4 align-items-center">
        <div class="col-lg-7 animated fadeInLeft">
            <div class="text-sm-center text-md-start">
                <h4 class="text-uppercase fw-bold mb-4">Welcome To MediSphere</h4>
                <h1 class="display-1 mb-4">Revolutionizing Healthcare Management</h1>
                <p class="mb-5 fs-5">At MediSphere, we bridge the gap between medical institutions and patients with an all-in-one solution tailored to modern healthcare needs.</p>
                <div class="d-flex justify-content-center justify-content-md-start flex-shrink-0 mb-4">
                </div>
            </div>
        </div>
        <div class="col-lg-5 animated fadeInRight">
            <div class="calrousel-img" style="object-fit: cover;">
                <img src="{% static 'core/img/carousel-2.png' %}" class="img-fluid w-100" alt="">
            </div>
        </div>
    </div>
</div>
<!-- Carousel End -->
<!-- Feature Start -->
<div class="container-fluid feature bg-light py-5">
    <div class="container py-5">
        <div class="text-center mx-auto pb-5 wow fadeInUp" data-wow-delay="0.2s" style="max-width: 800px;">
            <!-- <h4 class="text-primary">Our Features</h4> -->
            <h1 class="display-4 mb-4">Our Features</h1>
            <!-- <p class="mb-0">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tenetur adipisci facilis cupiditate recusandae aperiam temporibus corporis itaque quis facere, numquam, ad culpa deserunt sint dolorem autem obcaecati, ipsam mollitia hic.</p> -->
        </div>
        <div class="row g-4">
            {% for feature in features %}
            <div class="col-md-6 col-lg-6 col-xl-3 wow fadeInUp" data-wow-delay="0.2s">
                <div class="feature-item p-4 pt-0">
                    <div class="feature-icon p-4 mb-4">
                    </div>
                    <h4 class="mb-4">{{ feature.title  }}</h4>
                    <p class="mb-4">{{ feature.content }}</p>
                    <!-- <a class="btn btn-primary rounded-pill py-2 px-4" href="#">Learn More</a> -->
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<!-- Feature End -->
<!-- About Start -->
<div class="container-fluid bg-light about pb-5">
    <div class="container pb-5">
        <div class="row g-5">
            <div class="col-xl-6 wow fadeInLeft" data-wow-delay="0.2s">
                <div class="about-item-content bg-white rounded p-5 h-100">
                    <h4 class="text-primary">About Our Company</h4>
                    <h1 class="display-4 mb-4">High Range of Exploring Protection</h1>
                    {% for about in abouts %}
                    <p>{{ about.content }}</p>
                    {% endfor %}
                    <a class="btn btn-primary rounded-pill py-3 px-5" href="{% url 'core:about' %}">More Information</a>
                </div>
            </div>
            <div class="col-xl-6 wow fadeInRight" data-wow-delay="0.2s">
                <div class="bg-white rounded p-5 h-100">
                    <div class="row g-4 justify-content-center">
                        <div class="col-12">
                            <div class="rounded bg-light">
                                <img src="{% static 'core/img/about-1.png' %}" class="img-fluid rounded w-100" alt="">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="counter-item bg-light rounded p-3 h-100">
                                <div class="counter-counting">
                                    <span class="text-primary fs-2 fw-bold" data-toggle="counter-up">129</span>
                                    <span class="h1 fw-bold text-primary">+</span>
                                </div>
                                <h4 class="mb-0 text-dark">Insurance Policies</h4>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="counter-item bg-light rounded p-3 h-100">
                                <div class="counter-counting">
                                    <span class="text-primary fs-2 fw-bold" data-toggle="counter-up">99</span>
                                    <span class="h1 fw-bold text-primary">+</span>
                                </div>
                                <h4 class="mb-0 text-dark">Awards WON</h4>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="counter-item bg-light rounded p-3 h-100">
                                <div class="counter-counting">
                                    <span class="text-primary fs-2 fw-bold" data-toggle="counter-up">556</span>
                                    <span class="h1 fw-bold text-primary">+</span>
                                </div>
                                <h4 class="mb-0 text-dark">Skilled Agents</h4>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="counter-item bg-light rounded p-3 h-100">
                                <div class="counter-counting">
                                    <span class="text-primary fs-2 fw-bold" data-toggle="counter-up">967</span>
                                    <span class="h1 fw-bold text-primary">+</span>
                                </div>
                                <h4 class="mb-0 text-dark">Team Members</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->
<!-- Service Start -->
<div class="container-fluid service py-5">
    <div class="container py-5">
        <div class="text-center mx-auto pb-5 wow fadeInUp" data-wow-delay="0.2s" style="max-width: 800px;">
            <h4 class="text-primary">Our Services</h4>
            <h1 class="display-4 mb-4">We Provide Best Services</h1>
            <!-- <p class="mb-0">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tenetur adipisci facilis cupiditate recusandae aperiam temporibus corporis itaque quis facere, numquam, ad culpa deserunt sint dolorem autem obcaecati, ipsam mollitia hic.</p> -->
        </div>
        <div class="row g-4 justify-content-center">
            {% for service in services %}
            <div class="col-md-6 col-lg-6 col-xl-3 wow fadeInUp" data-wow-delay="0.2s">
                <div class="service-item">
                    <div class="service-img">
                        <img src="{{ service.image.url }}" class="img-fluid rounded-top w-100" alt="">
                        <div class="service-icon p-3">
                        </div>
                    </div>
                    <div class="service-content p-4">
                        <div class="service-content-inner">
                            <a href="#" class="d-inline-block h4 mb-4">{{service.title }}</a>
                            <p class="mb-4">{{ service.short_desc }}</p>
                            <!-- <a class="btn btn-primary rounded-pill py-2 px-4" href="#">Read More</a> -->
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            <div class="col-12 text-center wow fadeInUp" data-wow-delay="0.2s">
                <a class="btn btn-primary rounded-pill py-3 px-5" href="{% url 'core:services' %}">More Services</a>
            </div>
        </div>
    </div>
</div>
<!-- Service End -->
<!-- FAQs Start -->
<div class="container-fluid faq-section bg-light py-5">
    <div class="container py-5">
        <div class="row g-5 align-items-center">
            <div class="col-xl-6 wow fadeInLeft" data-wow-delay="0.2s">
                <div class="h-100">
                    <div class="mb-5">
                        <h4 class="text-primary">Some Important FAQ's</h4>
                        <h1 class="display-4 mb-0">Common Frequently Asked Questions</h1>
                    </div>
                    <div class="accordion" id="accordionExample">
                        {% for faq in faqs %}
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="faq{{ faq.id }}">
                                <button class="accordion-button border-0" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ faq.id }}" aria-expanded="false" aria-controls="collapse{{ faq.id }}">
                                    Q: {{ faq.questiion }}
                                </button>
                            </h2>
                            <div id="collapse{{ faq.id }}" class="accordion-collapse collapse" aria-labelledby="faq{{ faq.id }}" data-bs-parent="#accordionExample">
                                <div class="accordion-body rounded">
                                    A: {{ faq.answer }}
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-xl-6 wow fadeInRight" data-wow-delay="0.4s">
                <img src="{% static 'core/img/carousel-2.png' %}" class="img-fluid w-100" alt="">
            </div>
        </div>
    </div>
</div>
<!-- FAQs End -->
<!-- Blog Start -->
<div class="container-fluid blog py-5">
    <div class="container py-5">
        <div class="text-center mx-auto pb-5 wow fadeInUp" data-wow-delay="0.2s" style="max-width: 800px;">
            <h4 class="text-primary">From Blog</h4>
            <h1 class="display-4 mb-4">News And Updates</h1>
            <!-- <p class="mb-0">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tenetur adipisci facilis cupiditate recusandae aperiam temporibus corporis itaque quis facere, numquam, ad culpa deserunt sint dolorem autem obcaecati, ipsam mollitia hic.</p> -->
        </div>
        <div class="row g-4 justify-content-center">
            {% for blog in blogs %}
            <div class="col-lg-6 col-xl-4 wow fadeInUp" data-wow-delay="0.2s">
                <div class="blog-item">
                    <div class="blog-img">
                        <img src="{{ blog.image.url }}" class="img-fluid rounded-top w-100" alt="">
                    </div>
                    <div class="blog-content p-4">
                        <div class="blog-comment d-flex justify-content-between mb-3">
                            <div class="small"><span class="fa fa-calendar text-primary"></span>
                                {{ blog.created_at }}</div>
                        </div>
                        <a href="#" class="h4 d-inline-block mb-3">{{ blog.title }}</a>
                        <p class="mb-3">{{ blog.content }}</p>
                        <a href="#" class="btn p-0">Read More
                            <i class="fa fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<!-- Blog End -->
{% endblock %}