{% extends 'institution.html' %}
{% load custom_filters %}
{% load static %}
{% block content %}
<header class="mb-3">
  <a href="#" class="burger-btn d-block d-xl-none">
    <i class="bi bi-justify fs-3"></i>
  </a>
</header>
<div class="page-heading">
  <h3>Profile Statistics</h3>
</div>
<div class="page-content">
  <section class="row">
    <div class="col-12 col-lg-9">
      <div class="row">
        <div class="col-6 col-lg-3 col-md-6">
          <div class="card">
            <div class="card-body px-3 py-4-5">
              <div class="row">
                <div class="col-md-4">
                  <div class="stats-icon purple">
                    <i class="iconly-boldShow"></i>
                  </div>
                </div>
                <div class="col-md-8">
                  <h6 class="text-muted font-semibold">Members</h6>
                  <h6 class="font-extrabold mb-0">{{ profile.total_employees }}</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-6 col-lg-3 col-md-6">
          <div class="card">
            <div class="card-body px-3 py-4-5">
              <div class="row">
                <div class="col-md-4">
                  <div class="stats-icon blue">
                    <i class="iconly-boldProfile"></i>
                  </div>
                </div>
                <div class="col-md-8">
                  <h6 class="text-muted font-semibold">Doctors</h6>
                  <h6 class="font-extrabold mb-0">{{ profile.total_doctors }}</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <div class="col-6 col-lg-3 col-md-6">
          <div class="card">
            <div class="card-body px-3 py-4-5">
              <div class="row">
                <div class="col-md-4">
                  <div class="stats-icon green">
                    <i class="iconly-boldAdd-User"></i>
                  </div>
                </div>
                <div class="col-md-8">
                  <h6 class="text-muted font-semibold">Sub-Ordinates</h6>
                  <h6 class="font-extrabold mb-0">{{ profile.total_staff }}</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-6 col-lg-3 col-md-6">
          <div class="card">
            <div class="card-body px-3 py-4-5">
              <div class="row">
                <div class="col-md-4">
                  <div class="stats-icon red">
                    <i class="iconly-boldBookmark"></i>
                  </div>
                </div>
                <div class="col-md-8">
                  <h6 class="text-muted font-semibold">Patients</h6>
                  <h6 class="font-extrabold mb-0">{{ profile.total_patients }}</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <!-- Bordered table start -->
        <section class="section">
          <div class="row" id="table-bordered">
            <div class="col-12">
              <div class="card">
                <div class="card-header">
                  <h4 class="card-title">All Doctors</h4>
                </div>
                <div class="card-content">
                  <div class="card-body">
                  </div>
                  <!-- table bordered -->
                  <div class="table-responsive">
                    <table class="table table-bordered mb-0">
                      <thead>
                        <tr>
                          <th>Employee No.</th>
                          <th>Name</th>
                          <th>Email</th>
                          <th>Phone No.</th>
                          <th>Specialization</th>
                          <th>Department</th>
                          <th>Info</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for doctor in doctors %}
                        <tr>
                          <td class="text-bold-500">{{ doctor.employee_id }}</td>
                          <td>{{ doctor.name }}</td>
                          <td class="text-bold-500">{{ doctor.email }}</td>
                          <td>{{ doctor.phone_number }}</td>
                          <td>{{ doctor.specialization }}</td>
                          <td>{{ doctor.department }}</td>
                          <td class="text-center"><a href="{% url 'institutions:doctor' doctor.name|custom_slugify %}"><i class='bx bx-info-circle' style="font-size: 24px;"></i></a></td>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- Bordered table end -->
      </div>
      <div class="row">
        <section class="section">
          <div class="row" id="table-bordered">
            <div class="col-12">
              <div class="card">
                <div class="card-header">
                  <h4 class="card-title">All Staffs</h4>
                </div>
                <div class="card-content">
                  <div class="card-body">
                  </div>
                  <!-- table bordered -->
                  <div class="table-responsive">
                    <table class="table table-bordered mb-0">
                      <thead>
                        <tr>
                          <th>Employee No.</th>
                          <th>Name</th>
                          <th>Email</th>
                          <th>Phone No.</th>
                          <th>Position</th>
                          <th>Department</th>
                          <th>Info</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for staff in staffs %}
                        <tr>
                          <td class="text-bold-500">{{ staff.employee_id }}</td>
                          <td>{{ staff.name }}</td>
                          <td class="text-bold-500">{{ staff.email }}</td>
                          <td>{{ staff.phone_number }}</td>
                          <td>{{ staff.position }}</td>
                          <td>{{ staff.department }}</td>
                          <td class="text-center"><a href="{% url 'institutions:staff' staff.name|custom_slugify %}"><i class='bx bx-info-circle' style="font-size: 24px;"></i></a></td>td>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- Bordered table end -->
      </div>
    </div>
    <div class="col-12 col-lg-3">
      <div class="card">
        <div class="card-body py-2 px-3">
          <div class="d-flex">
            <div class="ms-1 name">
              <h5 class="font-bold">{{ request.user.username }}</h5>
              <h6 class="text-muted mb-0">{{ request.user.email }}</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
{% endblock %}