{% extends 'institution.html' %}
{% load custom_filters %}
{% block content %}
<!-- Bordered table start -->
<section class="section">
  <div class="row" id="table-bordered">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">All Patients</h4>
        </div>
        <div class="card-content">
          <div class="card-body">
          </div>
          <!-- table bordered -->
          <div class="table-responsive">
            <table class="table table-bordered mb-0">
              <thead>
                <tr>
                  <th>Patient ID</th>
                  <th>Patient Name</th>
                  <th>Age</th>
                  <th>Date of Birth</th>
                  <th>Gender</th>
                  <th>Phone No.</th>
                  <th>Info</th>

                </tr>
              </thead>
              <tbody>
                {% for patient in patients %}
                <tr>
                  <td class="text-bold-500">{{ patient.patient_id }}</td>
                  <td>{{ patient.name }}</td>
                  <td class="text-bold-500">{{ patient.age }}</td>
                  <td>{{ patient.date_of_birth }}</td>
                  <td>{{ patient.gender  }}</td>
                  <td>{{ patient.phone_number }}</td>
                  <td class="text-center"><a href="{% url 'institutions:patient' patient.name|custom_slugify %}"><i class='bx bx-info-circle' style="font-size: 24px;"></i></a></td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Bordered table end -->
{% endblock %}
