{% extends 'institution.html' %}
{% load custom_filters %}
{% block content %}
<!-- Bordered table start -->
<section class="section">
  <div class="row" id="table-bordered">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">All Doctors</h4>
        </div>
        <div class="card-content">
          <div class="card-body">
          </div>
          <!-- table bordered -->
          <div class="table-responsive">
            <table class="table table-bordered mb-0">
              <thead>
                <tr>
                  <th>Employee No.</th>
                  <th>Name</th>
                  <th>Email</th>
                  <th>Phone No.</th>
                  <th>Specialization</th>
                  <th>Department</th>
                  <th>Info</th>
                </tr>
              </thead>
              <tbody>
                {% for doctor in doctors %}
                <tr>
                  <td class="text-bold-500">{{ doctor.employee_id }}</td>
                  <td>{{ doctor.name }}</td>
                  <td class="text-bold-500">{{ doctor.email }}</td>
                  <td>{{ doctor.phone_number }}</td>
                  <td>{{ doctor.specialization }}</td>
                  <td>{{ doctor.department }}</td>
                  <td class="text-center"><a href="{% url 'institutions:doctor' doctor.name|custom_slugify %}"><i class='bx bx-info-circle' style="font-size: 24px;"></i></a></td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Bordered table end -->
{% endblock %}