{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    {% include 'dashboard/header.html' %}
  </head>
  <body>
    <div id="app">
      <div id="sidebar" class="active">
        <div class="sidebar-wrapper active">
          <div class="sidebar-header">
            <div class="d-flex justify-content-between">
              <div class="logo">
                <a href="">Medi-Doctor</a>
              </div>
              <div class="toggler">
                <a href="#" class="sidebar-hide d-xl-none d-block"><i class="bi bi-x bi-middle"></i></a>
              </div>
            </div>
          </div>
          <div class="sidebar-menu">
            <ul class="menu">
              <li class="sidebar-title">Menu</li>
              <li class="sidebar-item active ">
                <a href="{% url 'doctors:dashboard' %}" class='sidebar-link'>
                  <i class="bi bi-grid-fill"></i>
                  <span>Dashboard</span>
                </a>
              </li>
              <li class="sidebar-item  has-sub">
                <a href="#" class='sidebar-link'>
                  <i class="bi bi-collection-fill"></i>
                  <span>Patients</span>
                </a>
                <ul class="submenu ">
                  {% if request.user.institution == 'Private' %}
                  <li class="submenu-item ">
                    <a href="{% url 'doctors:patients' %}">All Patients</a>
                  </li>
                  <li class="submenu-item ">
                    <a href="{% url 'doctors:add_patient' %}">Add Patient</a>
                  </li>
                  {% else %}
                  <li class="submenu-item ">
                    <a href="{% url 'doctors:inpatients' %}">In-Patients</a>
                  </li>
                  <li class="submenu-item ">
                    <a href="{% url 'doctors:outpatients' %}">Outpatient</a>
                  </li>
                  {% endif %}
                </ul>
              </li>
              <li class="sidebar-item  has-sub">
                <a href="#" class='sidebar-link'>
                  <i class="bi bi-pentagon-fill"></i>
                  <span>Appointments</span>
                </a>
                <ul class="submenu ">
                  {% if request.user.institution == 'Private' %}
                  <li class="submenu-item ">
                    <a href="{% url 'doctors:appointments' %}">Appointments</a>
                  </li>
                  {% else %}
                  <li class="submenu-item ">
                    <a href="{% url 'doctors:appointments' %}">Appointments</a>
                  </li>
                  {% endif %}
                </ul>
              </li>
              {% if request.user.institution == 'Private' %}
              <li class="sidebar-item  has-sub">
                <a href="#" class='sidebar-link'>
                  <i class="bi bi-collection-fill"></i>
                  <span>Records</span>
                </a>
                <ul class="submenu ">
                  <li class="submenu-item ">
                    <a href="{% url 'doctors:records' %}">All Records</a>
                  </li>
                  <li class="submenu-item ">
                    <a href="{% url 'doctors:add_record' %}">Add Record</a>
                  </li>
                </ul>
              </li>
              {% endif %}
              <li class="sidebar-title">Applications</li>
              <li class="sidebar-item  ">
                <a href="" class='sidebar-link'>
                  <i class="bi bi-chat-dots-fill"></i>
                  <span>Chat</span>
                </a>
              </li>
              <li class="sidebar-item  ">
                <a href="{% url 'doctors:profile' %}" class='sidebar-link'>
                  <i class='bx bxs-user-circle fs-5'></i>
                  <span>Profile</span>
                </a>
              </li>
              <li class="sidebar-item  ">
                <a href="{% url 'acc:logout' %}" class='sidebar-link'>
                  <i
                    class='bx bxs-log-out-circle fs-5'
                  ></i>
                  <span>Logout</span>
                </a>
              </li>
            </ul>
          </div>
          <button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
        </div>
      </div>
      <div id="main">
        {%for message in messages%}
          <div class="alert alert-{{message.tags}} alert-dismissible fade show position-absolute w-100" role="alert">
            <strong>{{message}}</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        {%endfor%}
        {% block content %}

        {% endblock %}
        <footer>
          <div class=" footer clearfix mb-0 text-muted sticky-bottom">
            <div class="float-start">
              <p>2025 &copy; MediSphere</p>
            </div>
            <div class="float-end">
              <p>Created by
                <a href="">quiesscent</a></p>
            </div>
          </div>
        </footer>
      </div>
    </div>
    {% include 'dashboard/scripts.html' %}
  </body>
</html>