{% extends 'doctor.html' %}

{% block content %}
<!-- Bordered table start -->
<section class="section">
  <div class="row" id="table-bordered">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">All Records</h4>
        </div>
        <div class="card-content">
          <div class="card-body">
          </div>
          <!-- table bordered -->
          <div class="table-responsive">
            <table class="table table-bordered mb-0">
              <thead>
                <tr>
                  <th>Record ID</th>
                  <th>Patient Name</th>
                  <th>Report Date</th>
                  <th>Diagnosis</th>
                  <th>Treatment</th>
                  <th>Notes</th>
                  <th>Updated At</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                {% for record in records %}
                <tr>
                  <td class="text-bold-500">{{ record.id }}</td>
                  <td>{{ record.patient }}</td>
                  <td class="text-bold-500">{{ record.report_date }}</td>
                  <td>{{ record.diagnosis }}</td>
                  <td>{{ record.treatment  }}</td>
                  <td>{{ record.notes }}</td>
                  <td>{{ record.updated_at }}</td>
                  <td class="text-center"><a href="{% url 'doctors:record' record.id %}"><i class='bx bx-info-circle' style="font-size: 24px;"></i></a></td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Bordered table end -->
{% endblock %}