{% extends 'patient_base.html' %}

{% load static %}

{% block content %}
<section id="multiple-column-form">
  <div class="row match-height">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Profile Information</h4>
        </div>
        <div class="card-content">
          <div class="card-body">
            <form class="form" method="POST" enctype="multipart/form-data">
              {% csrf_token %}
              <div class="row">
                <div class="col-md-6 col-12">
                  <div class="form-group">
                    <label for="first-name-column">Name</label>
                    {{ form.doctor }}
                  </div>
                </div>
                <div class="col-md-6 col-12">
                  <div class="form-group">
                    <label for="last-name-column">Date of Birth</label>
                    {{ form.date_of_birth }}
                  </div>
                </div>
                <div class="col-md-6 col-12">
                  <div class="form-group">
                    <label for="city-column">Gender</label>
                    {{ form.gender }}
                  </div>
                </div>
                <div class="col-md-6 col-12">
                  <div class="form-group">
                    <label for="country-floating">Phone Number</label>
                    {{ form.phone_number}}
                  </div>
                </div>
                <div class="col-md-6 col-12">
                  <div class="form-group">
                    <label for="company-column">Specialization</label>
                    {{ form.specialization }}
                  </div>
                </div>
                <div class="col-md-6 col-12">
                  <div class="form-group">
                    <label for="email-id-column">License No</label>
                    {{ form.license_no }}
                  </div>
                </div>
                {% if form.instance.profile %}
                <div class="col-md-6 col-12">
                  <div class="form-group">
                    <label for="email-id-column">Profile Image</label>
                    <img src="{{ form.instance.profile.url }}" alt="Profile Image" style="max-width: 200px; max-height: 200px;"><br>
                  </div>
                </div>
                {% endif %}
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- // Basic multiple Column Form section end -->
{% endblock %}