{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
{% include 'dashboard/header.html' %}
</head>
  <body>
    <div id="app">
      <div id="sidebar" class="active">
        <div class="sidebar-wrapper active">
          <div class="sidebar-header">
            <div class="d-flex justify-content-between">
              <div class="logo">
                <a href="">Medi-Patient</a>
              </div>
              <div class="toggler">
                <a href="#" class="sidebar-hide d-xl-none d-block"><i class="bi bi-x bi-middle"></i></a>
              </div>
            </div>
          </div>

          <div class="sidebar-menu">
            <ul class="menu">
              <li class="sidebar-title">Menu</li>
              <li class="sidebar-item active ">
                <a href="{% url 'patients:dashboard' %}" class='sidebar-link'>
                  <i class="bi bi-grid-fill"></i>
                  <span>Dashboard</span>
                </a>
              </li>
              <li class="sidebar-item  has-sub">
                <a href="#" class='sidebar-link'>
                  <i class="bi bi-collection-fill"></i>
                  <span>Informations</span>
                </a>
                <ul class="submenu ">
                  <li class="submenu-item ">
                    <a href="{% url 'patients:doctors' %}">Doctors</a>
                  </li>
                  <li class="submenu-item ">
                    <a href="{% url 'patients:institutions' %}">Institutions</a>
                  </li>
                </ul>
              </li>
              <li class="sidebar-item  has-sub">
                <a href="#" class='sidebar-link'>
                  <i class="bi bi-pentagon-fill"></i>
                  <span>Appointments</span>
                </a>
                <ul class="submenu ">
                  <li class="submenu-item ">
                    <a href="{% url  'patients:book_appointment' %}">Booking Appointment</a>
                  </li>
                  
                  <li class="submenu-item ">
                    <a href="{% url 'patients:appointments' %}">My Appointments</a>
                  </li>
                </ul>
              </li>
              <li class="sidebar-title">Applications</li>
              <li class="sidebar-item  ">
                <a href="" class='sidebar-link'>
                  <i class="bi bi-chat-dots-fill"></i>
                  <span>Chat</span>
                </a>
              </li>
              <li class="sidebar-item  ">
                <a href="{% url 'patients:profile' %}" class='sidebar-link'>
                  <i class='bx bxs-user-circle fs-5'></i>
                  <span>Profile</span>
                </a>
              </li>
              <li class="sidebar-item  ">
                <a href="{% url 'acc:logout' %}" class='sidebar-link'>
                  <i class='bx bxs-log-out-circle fs-5' ></i>
                  <span>Logout</span>
                </a>
              </li>
            </ul>
          </div>
          <button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
        </div>
      </div>
      <div id="main">
        
        {% block content %}

        {% endblock %}

        <footer>
          <div class=" footer clearfix mb-0 text-muted sticky-bottom">
            <div class="float-start">
              <p>2025 &copy; MediSphere</p>
            </div>
            <div class="float-end">
              <p>Created by <a href="">quiesscent</a></p>
            </div>
          </div>
        </footer>
      </div>
    </div>
    {% include 'dashboard/scripts.html' %}
  </body>
</html>