{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard - MediSphere Doctor Dashboard</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'dashboard/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'dashboard/vendors/iconly/bold.css' %}">
    <link rel="stylesheet" href="{% static 'dashboard/vendors/perfect-scrollbar/perfect-scrollbar.css' %}">
    <link rel="stylesheet" href="{% static 'dashboard/vendors/bootstrap-icons/bootstrap-icons.css' %}">
    <link rel="stylesheet" href="{% static 'dashboard/css/app.css' %}">
    <link rel="shortcut icon" href="{% static 'dashboard/images/favicon.svg' %}" type="image/x-icon">
  </head>
  <body>
    <div id="app">
      <div id="sidebar" class="active">
        <div class="sidebar-wrapper active">
          <div class="sidebar-header">
            <div class="d-flex justify-content-between">
              <div class="logo">
                <a href="">Medi-Institution</a>
              </div>
              <div class="toggler">
                <a href="#" class="sidebar-hide d-xl-none d-block"><i class="bi bi-x bi-middle"></i></a>
              </div>
            </div>
          </div>

          <div class="sidebar-menu">
            <ul class="menu">
              <li class="sidebar-title">Menu</li>
              <li class="sidebar-item active ">
                <a href="" class='sidebar-link'>
                  <i class="bi bi-grid-fill"></i>
                  <span>Dashboard</span>
                </a>
              </li>
              <li class="sidebar-item  has-sub">
                <a href="#" class='sidebar-link'>
                  <i class="bi bi-stack"></i>
                  <span>Doctors</span>
                </a>
                <ul class="submenu ">
                  <li class="submenu-item ">
                    <a href="">All Doctors</a>
                  </li>
                  <li class="submenu-item ">
                    <a href="">Update Doctor</a>
                  </li>
                  <li class="submenu-item ">
                    <a href="">Active Doctors</a>
                  </li>
                  <li class="submenu-item ">
                    <a href="">Delete Doctor</a>
                  </li>
                  <li class="submenu-item ">
                    <a href="">Add Doctor</a>
                  </li>
                </ul>
              </li>
              <li class="sidebar-item  has-sub">
                <a href="#" class='sidebar-link'>
                  <i class="bi bi-collection-fill"></i>
                  <span>Patients</span>
                </a>
                <ul class="submenu ">
                  <li class="submenu-item ">
                    <a href="extra-component-avatar.html">All Patients</a>
                  </li>
                  <li class="submenu-item ">
                    <a href="extra-component-sweetalert.html">In-Patients</a>
                  </li>
                  <li class="submenu-item ">
                    <a href="extra-component-toastify.html">Outpatient</a>
                  </li>
                  <li class="submenu-item ">
                    <a href="extra-component-rating.html">Patient Records</a>
                  </li>
                  <li class="submenu-item ">
                    <a href="extra-component-divider.html">Discharged Patients</a>
                  </li>
                </ul>
              </li>


              <li class="sidebar-item  has-sub">
                <a href="#" class='sidebar-link'>
                  <i class="bi bi-collection-fill"></i>
                  <span>Staff</span>
                </a>
                <ul class="submenu ">
                  <li class="submenu-item ">
                    <a href="extra-component-avatar.html">All Staff</a>
                  </li>
                  <li class="submenu-item ">
                    <a href="extra-component-sweetalert.html">Cleaners</a>
                  </li>
                  <li class="submenu-item ">
                    <a href="extra-component-toastify.html">Drivers</a>
                  </li>
                  <li class="submenu-item ">
                    <a href="extra-component-rating.html">Radiology</a>
                  </li>
                  <li class="submenu-item ">
                    <a href="extra-component-divider.html">Lab Techs</a>
                  </li>
                </ul>
              </li>

              <!-- <li class="sidebar-item  ">
                <a href="table.html" class='sidebar-link'>
                  <i class="bi bi-grid-1x2-fill"></i>
                  <span>Table</span>
                </a>
              </li> -->

              <li class="sidebar-title">Tasks</li>
              <li class="sidebar-item  has-sub">
                <a href="#" class='sidebar-link'>
                  <i class="bi bi-pentagon-fill"></i>
                  <span>Tasks</span>
                </a>
                <ul class="submenu ">
                  <li class="submenu-item ">
                    <a href="ui-widgets-chatbox.html">Pending Payments</a>
                  </li>
                  <li class="submenu-item ">
                    <a href="ui-widgets-pricing.html">Assigned Tasks</a>
                  </li>
                  <li class="submenu-item ">
                    <a href="ui-widgets-todolist.html">Completed Tasks</a>
                  </li>
                </ul>
              </li>
              <li class="sidebar-title">Applications</li>
              <li class="sidebar-item  ">
                <a href="application-email.html" class='sidebar-link'>
                  <i class="bi bi-envelope-fill"></i>
                  <span>Email</span>
                </a>
              </li>
              <li class="sidebar-item  ">
                <a href="application-chat.html" class='sidebar-link'>
                  <i class="bi bi-chat-dots-fill"></i>
                  <span>Chat</span>
                </a>
              </li>
            </ul>
          </div>
          <button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
        </div>
      </div>
      <div id="main">
        
        {% block content %}

        {% endblock %}

        <footer>
          <div class=" footer clearfix mb-0 text-muted">
            <div class="float-start">
              <p>2025 &copy; MediSphere</p>
            </div>
            <div class="float-end">
              <p>Crafted with by <a href="">quiesscent</a></p>
            </div>
          </div>
        </footer>
      </div>
    </div>
    <script src="{% static 'dashboard/vendors/perfect-scrollbar/perfect-scrollbar.min.js' %}">
    </script>
    <script src="{% static 'dashboard/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'dashboard/vendors/apexcharts/apexcharts.js' %}"></script>
    <script src="{% static 'dashboard/js/pages/dashboard.js' %}"></script>
    <script src="{% static 'dashboard/js/main.js' %}"></script>
  </body>
</html>