{% load static %}
<script src="{% static 'dashboard/vendors/perfect-scrollbar/perfect-scrollbar.min.js' %}">
</script>
<script src="{% static 'dashboard/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'dashboard/vendors/apexcharts/apexcharts.js' %}"></script>
<script src="{% static 'dashboard/js/pages/dashboard.js' %}"></script>
<script src="{% static 'dashboard/js/main.js' %}"></script>
<script src="{% static 'dashboard/vendors/dayjs/dayjs.min.js' %}"></script>
<script src="{% static 'dashboard/vendors/apexcharts/apexcharts.js' %}"></script>
<script src="{% static 'dashboard/js/pages/ui-apexchart.js' %}"></script>