{% extends 'base.html'%}
{% load static %}

{% block title %}| Pricing {% endblock title %}

{% block content %}
<!-- ======= Pricing Section ======= -->
<section id="pricing" class="pricing">
    <div class="container">

      <div class="section-title">
        <h2>Pricing</h2>
        <p>Our pricing model is designed to offer exceptional value without sacrificing quality. Whether you're a startup on a tight budget or an established enterprise looking for premium solutions, we have flexible pricing options to suit your needs. </p>
      </div>

      <div class="row">
        <div class="col-lg-4 col-md-6">
          <div class="box">
            <h3>Web Design<br> <span style="font-size: 12px;"><i>Simple</i></span></h3>
            <h4><sup>$</sup>10-20k</h4>
            <ul>
              <li>Landing page Website</li>
              <li>1-3 Responsive Pages</li>
              <li>Contact Page</li>
              <li>Landing Page</li>
              <li>Custom Themes</li>
              {% comment %} <li class="na">Pharetra massa</li>
              <li class="na">Massa ultricies mi</li> {% endcomment %}
            </ul>
            <div class="btn-wrap">
              <a href="{% url 'quote' %}" class="btn-buy">Get</a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 mt-4 mt-md-0">
          <div class="box">
            {% comment %} <span class="recommended-badge">Recommended</span> {% endcomment %}
            <h3>Website & System Design<br><span style="font-size: 12px;"><i>Small Business</i></span></h3>
            <h4><sup>$</sup>20-30k</h4>
            <ul>
              <li>Landing page</li>
              <li>Several Pages</li>
              <li>Social Media Integration</li>
              <li>Google Analytics</li>
              <li>Google My Business Page</li>
              {% comment %} <li class="na">Massa ultricies mi</li> {% endcomment %}
            </ul>
            <div class="btn-wrap">
              <a href="{% url 'quote' %}" class="btn-buy">Get</a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 mt-4 mt-md-0">
          <div class="box">
            {% comment %} <span class="recommended-badge">Recommended</span> {% endcomment %}
            <h3>E-Commerce Design<br><span style="font-size: 12px;"><i>Small and Big Businesses</i></span></h3>
            <h4><sup>$</sup>35-70</h4>
            <ul>
              <li>Ecommerce Tools</li>
              <li>Order Management System</li>
              <li>Live Chat Delivery Solutions</li>
              <li>Payment Intergration</li>
              <li>Two Month Free Support</li>
              {% comment %} <li class="na">Massa ultricies mi</li> {% endcomment %}
            </ul>
            <div class="btn-wrap">
              <a href="{% url 'quote' %}" class="btn-buy">Get</a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 mt-4 mt-lg-0">
          <div class="box mt-4">
            <h3>Corporate Website Design<br><span style="font-size: 12px;"><i>Big Businesses and Cooporations</i></span></h3>
            <h4><sup>$</sup>45-90k</h4>
            <ul>
              <li>Advanced Functionality</li>
              <li>Unlimited Subpages</li>
              <li>Bespoken Design </li>
              <li>Database Population</li>
              <li>CRM Intergration</li>
            </ul>
            <div class="btn-wrap">
              <a href="{% url 'quote' %}" class="btn-buy">Get</a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 mt-4 mt-lg-0">
          <div class="box mt-4">
            <h3>App Development<br><span style="font-size: 12px;"><i>Android</i></span></h3>
            <h4><sup>$</sup>50-60k</h4>
            <ul>
              <li>App Screen Designing</li>
              <li>Video and Camera Support</li>
              <li>File Management</li>
              <li>1 Month Free Support</li>
              <li>Social Media Integration</li>
            </ul>
            <div class="btn-wrap">
              <a href="{% url 'quote' %}" class="btn-buy">Get</a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 mt-4 mt-lg-0">
          <div class="box mt-4">
            <h3>App Development<br><span style="font-size: 12px;"><i>Android and IOS</i></span></h3>
            <h4><sup>$</sup>90-120k</h4>
            <ul>
              <li>App Screen Designing</li>
              <li>Video and Camera Support</li>
              <li>File Management</li>
              <li>2 Month Free Support</li>
              <li>Social Media Integration</li>
            </ul>
            <div class="btn-wrap">
              <a href="{% url 'quote' %}" class="btn-buy">Get</a>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>
  <!-- End Pricing Section -->
{% endblock %}