{% extends 'base.html'%}
{% load static %}

{% block title %}| Services {% endblock title %}

{% block content %}
    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
        <div class="container">

          <div class="section-title">
            <h2>Services</h2>
            <p>Welcome to the heart of necxlabs, where innovation meets excellence. Our services are meticulously crafted to empower businesses of all sizes with cutting-edge digital solutions that drive growth, enhance efficiency, and amplify success. From mobile app development to website upgrades, and from management systems to e-commerce solutions, our diverse range of services is designed to meet your every need. .</p>
          </div>

          <div class="row">
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
              <div class="icon-box">
                <div class="icon"><i class='bx bx-mobile'></i></div>
                <h4><a href="">App Development</a></h4>
                <p>From iOS and Android to cross-platform solutions, we specialize in creating intuitive, user-friendly, and feature-rich mobile applications that elevate your brand and engage your audience.</p>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
              <div class="icon-box">
                <div class="icon"><i class='bx bxl-chrome' ></i></div>
                <h4><a href="">Web Development</a></h4>
                <p>Whether you need a simple website or a complex web application, we have the expertise to bring your vision to life. Our websites are designed to be visually stunning, functionally robust, and optimized for performance.</p>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
              <div class="icon-box">
                <div class="icon"><i class='bx bxs-cabinet'></i></div>
                <h4><a href="">Management Systems</a></h4>
                <p>Streamline your operations and enhance productivity with our customized management systems. From CRM and ERP solutions to project management tools, we help you optimize efficiency and drive growth.</p>
              </div>
            </div>

           <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
              <div class="icon-box">
                <div class="icon"><i class="bx bx-world"></i></div>
                <h4><a href="">Porfolios</a></h4>
                <p>Be found online and showcase your skills and work to potential clients with a Portfolio Website. We are dedicated to showcasing you to your clients in a  way that will make you stand out among your competition. </p>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
              <div class="icon-box">
                <div class="icon"><i class='bx bx-cart-download'></i></div>
                <h4><a href="">E-commerce Systems</a></h4>
                <p>Unlock new opportunities for growth and expansion with our cutting-edge e-commerce solutions. From storefront design to payment integration, we provide end-to-end support to launch and scale your online business.</p>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
              <div class="icon-box">
                <div class="icon"><i class='bx bxs-chevrons-up'></i></div>
                <h4><a href="">System Upgrade</a></h4>
                <p>We go above and beyond to deliver solutions that are as unique as your business. With necxlabs, customization isn't just a service – it's our commitment to helping you stand out in a crowded digital landscape.</p>
              </div>
            </div>

          </div>

        </div>
      </section><!-- End Services Section -->

    <!-- ======= Faq Section ======= -->
    <section id="faq" class="faq">
      <div class="container-fluid">

        <div class="row">

          <div class="col-lg-7 d-flex flex-column justify-content-center align-items-stretch  order-2 order-lg-1">

            <div class="content">
              <h3>Frequently Asked <strong>Questions</strong></h3>
              <p>
                Got questions? We've got answers!. Whether you're curious about our approach to customization, wondering about our pricing structure, or seeking clarification on our delivery timelines, you'll find the information you need right here.
              </p>
            </div>
            <div class="accordion-list">
              <ul>
                <li>
                  <a data-bs-toggle="collapse" class="collapse" data-bs-target="#accordion-list-1">What services does necxlabs offer? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                  <div id="accordion-list-1" class="collapse show" data-bs-parent=".accordion-list">
                    <p>
                      Necxlabs offers a comprehensive range of services including mobile app development, web development, website upgrades, management systems, e-commerce solutions, and more. We specialize in delivering tailored digital solutions to meet the unique needs of each client.
                    </p>
                  </div>
                </li>
                <li>
                  <a data-bs-toggle="collapse" data-bs-target="#accordion-list-2" class="collapsed">How does necxlabs approach customization for clients? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                  <div id="accordion-list-2" class="collapse" data-bs-parent=".accordion-list">
                    <p>
                      we take a collaborative approach to customization, working closely with clients to understand their specific requirements and objectives. Our team of experts then leverages their skills and creativity to craft bespoke solutions that reflect the client's brand identity and align seamlessly with their goals.
                    </p>
                  </div>
                </li>
                <li>
                  <a data-bs-toggle="collapse" data-bs-target="#accordion-list-3" class="collapsed">What is the typical timeline for completing a project with necxlabs?<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                  <div id="accordion-list-3" class="collapse" data-bs-parent=".accordion-list">
                    <p>
                      The timeline for completing a project with necxlabs can vary depending on its complexity, scope, and specific requirements. We work closely with clients to establish clear timelines and milestones, ensuring that projects are completed efficiently and on schedule.
                    </p>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-lg-5 align-items-stretch order-1 order-lg-2 img" style="background-image: url('{% static 'img/faq.jpg' %}');">&nbsp;</div>
        </div>
      </div>
    </section><!-- End Faq Section -->
{% endblock %}