{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form Layout - Mazer Admin Dashboard</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'dashboard/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'dashboard/vendors/perfect-scrollbar/perfect-scrollbar.css' %}">
    <link rel="stylesheet" href="{%  static 'dashboard/vendors/bootstrap-icons/bootstrap-icons.css' %}">
    <link rel="stylesheet" href="{% static 'dashboard/css/app.css' %}">
    <link rel="shortcut icon" href="{% static 'dashboard/images/favicon.svg' %}" type="image/x-icon">
  </head>
  <body>
    <div class="container">
      <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Submit</button>
      </form>
    </div>
    <script src="{% static 'dashboard/vendors/perfect-scrollbar/perfect-scrollbar.min.js' %}"></script>
    <script src="{% static 'dashboard/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'dashboard/js/main.js' %}"></script>
  </body>
</html>